2) Factors

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import scipy.stats as stats

In [10]:
INFILE = "../data/dfa_analysis_data.xlsx"
SHEETNAME = "factors"
rets = pd.read_excel(INFILE, sheet_name=SHEETNAME).set_index("Date")
retsMkt = pd.DataFrame(rets['Mkt-RF'])
retsMkt

            Mkt-RF
Date
1926-07-31  0.0296
1926-08-31  0.0264
1926-09-30  0.0036
1926-10-31 -0.0324
1926-11-30  0.0253
...            ...
2024-04-30 -0.0467
2024-05-31  0.0434
2024-06-30  0.0277
2024-07-31  0.0124
2024-08-31  0.0161

[1178 rows x 1 columns]