In [16]:
import pandas as pd
import numpy as np
import yfinance as yf

In [17]:
TICKS = [
    'BTC-USD',
    'ETH-USD',
    'SOL-USD',
    'DOGE-USD',
]

FLDS = ['quoteType','shortName','volume']

In [18]:
info = pd.DataFrame(index=TICKS,columns=FLDS)
info.index.name = 'ticker'
for tick in info.index:
    temp = yf.Ticker(tick).get_info()

    for fld in FLDS:
        if fld in temp.keys():
            info.loc[tick,fld] = temp[fld]

In [19]:
prices = yf.download(TICKS, start="2017-01-01", end="2024-10-31")['Adj Close'][info.index]
prices.index = prices.index.tz_localize(None)
prices.dropna(inplace=True)

rets = prices.pct_change().dropna()

[*********************100%***********************]  4 of 4 completed

In [20]:
info

               quoteType     shortName       volume
ticker
BTC-USD   CRYPTOCURRENCY   Bitcoin USD  53965586432
ETH-USD   CRYPTOCURRENCY  Ethereum USD  29285148672
SOL-USD   CRYPTOCURRENCY    Solana USD   5361644544
DOGE-USD  CRYPTOCURRENCY  Dogecoin USD   8684043264

In [21]:
rets

Ticker       BTC-USD   ETH-USD   SOL-USD  DOGE-USD
Date
2020-04-11 -0.000934 -0.001240 -0.183202  0.011179
2020-04-12  0.016330  0.018496  0.136052  0.000000
2020-04-13 -0.018082 -0.030177 -0.118611 -0.015578
2020-04-14 -0.000381  0.008426 -0.149013  0.002552
2020-04-15 -0.029276 -0.027345 -0.023075 -0.012220
...              ...       ...       ...       ...
2024-10-26  0.005586  0.017927  0.036108  0.048423
2024-10-27  0.013648  0.010622  0.034230  0.050634
2024-10-28  0.029125  0.023707  0.008812  0.116678
2024-10-29  0.040235  0.028304  0.007051  0.091151
2024-10-30 -0.005239  0.007360 -0.024731 -0.043750

[1664 rows x 4 columns]

In [22]:
with pd.ExcelWriter('../data/crypto_data.xlsx') as writer:  
    info.to_excel(writer, sheet_name= 'descriptions')
    rets.to_excel(writer, sheet_name='total returns')
    prices.to_excel(writer, sheet_name='prices')

In [23]:
info

               quoteType     shortName       volume
ticker
BTC-USD   CRYPTOCURRENCY   Bitcoin USD  53965586432
ETH-USD   CRYPTOCURRENCY  Ethereum USD  29285148672
SOL-USD   CRYPTOCURRENCY    Solana USD   5361644544
DOGE-USD  CRYPTOCURRENCY  Dogecoin USD   8684043264